<%- include  ../partials/header %>
<div class="container">
    <div  class="row">
        <div class= "text-center">
    <h1>Create a new Team</h1>
   
    <p>Any User already a part of team won't be displayed</p>
    <p>HOLD CTRL TO SELECT MULTIPLE USERS</p>
</div>
<div style="width: 30%; margin: 10px auto">

<form action="/createteam" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" name="teamname" placeholder="Enter a team name">
    </div>

    <div class="form-group">
        <select class="form-control" name ="users" multiple>
                <% User.forEach(function(user){ %>
                    <% if (user.isTeamMember == 0 ){%>
                <option value="<%= user.username %>"><%= user.username %></option>
                <% } %>   
                <% }); %>
        </select>
</div>


 <button class="btn btn-lg btn-info btn-block">Submit</button>

 <a class="btn btn-lg btn-default btn-block" href="/teams">View Existing Teams</a>

</form>

</div>
</div>
</div>
<%- include ../partials/footer %>