<%- include  partials/header %>

<div class="container">

<div class="jumbotron">
    <div class="container">
    <h2>All Routes :</h2>
    <p>With their intended functions</p>
</div>
</div>
<div class="well">

        <table class="table">
                <thead>
                    <tr>
                        <th>Route</th>
                        <th>Method</th>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>/bugs</td>
                    <td>GET</td>
                    <td>Shows All Bugs</td>
                    <td>Info about all the logged bugs with their status</td>
                </tr>
                </tbody>


</div>


</div>


<%- include  partials/footer %>

